#### 평균나이구하기
> round함수
- 함수의 괄호안 첫 번째 변수에는 수식을 넣고, 두번째 변수에는 표시할 소수점 자릿수를 넣습니다.

In [13]:
#소숫점 첫째 자리까지 알고 싶을때 는 round()함수를 사용한다.
#round(숫자,표시할 소수점자리수)
round((50+45+33+39+29+30)/6,1)
round((50+45+33+39+29+30)/6,2)
print("평균나이는",round((50+45+33+39+29+30)/6,2),"세")
age=[50,45,33,39,29,30]
age.sort()
print(age)
print("이 팀에서 가장 나이가 많은 사람의 나이는 %d 입니다." %(age[-1]))

평균나이는 37.67 세
[29, 30, 33, 39, 45, 50]
이 팀에서 가장 나이가 많은 사람의 나이는 50 입니다.

### 19단 곱셈표 출력하기

> 2단곱셈표 작성

In [16]:
print(2*1)

2

In [ ]:
#2단 곱셈표 출력하기
# for문과 리스트를 조합하여 2단을 출력해보자
num=[1,2,3,4,5,6,7,8,9]
print("[2단]")
for i in num:
    # print("2 *", i ,"=", 2*i)
    print("%d * %d = %d" %(2,i,2*i))

In [ ]:
for i in range(1,10):
    print("2 *",i,"=",2*i)

In [38]:
#input을 받아서 특정한 곱셈표를 출력하기
dan=int(input("출력하고 싶은 구구단수를 입력하세요"))
print(dan,"단")
sum=0
for i in range(1,10):
    print("%d * %d = %d" %(dan,i,dan*i))
    sum=sum+(dan*i)
print("%d단의 합계는 %d 입니다" %(dan,sum ))

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9단의 합계는 405 입니다

> for문을 추가 하여 19단 완성시킨다
- 변수 i, j 두개 사용

In [ ]:
for i in range(2,20):
    print("")
    print("[%d 단]" %(i))
    for j in range(1,10):
        print("%d * %d = %d" %(i,j,i*j))

In [42]:
for i in range(2,10):
    print("[%d단]" %(i))

    for j in range(1,10):
        print("%d * %d = %d" %(i,j,i*j))
    print("")

[2단]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[3단]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

[4단]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

[5단]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

[6단]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

[7단]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

[8단]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

[9단]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

- %d를 사용하여 숫자 i와 j 그리고 i*j를 표시할 수 있도록 했습니다.

### 부가세 출력 프로그램 만들기

> 오늘 먹은 점심값의 부가세는 얼마였을까
- 점심값 : 8,000원

- 공급가액 + (공급가액*10%)= 점심값 8,000
- 점심값 8,000원 = 공급가액 * 1.1
- 공급가액 = 8,000/1.1

- 소비자가격= 물건가격 *1.1
- 물건가격= 소비자가격* 1/1.1
- 부가세 = 물건가격*0.1 = 소비자가격 *1/11

In [4]:
#소비자가격이 10,000원이면 
#물건가격= 10,000 /1.1
10000/1.1
#원단위로 반올림- round함수 사용
round(10000/1.1)
#9,091원이 물건가격이고
10000-9091
#909원이 부가세가된다.

909

In [6]:
round(8000/1.1)

7273

In [7]:
8000-7273

727

In [5]:
round(8000*(1/11))

727

>> lambda로 간단하게 함수 만들기
- 단 한줄로 함수를 만들어 내는 강력함을 가지고 있습니다.

In [9]:
# x에 어떤 수를 입력 하더라도 이 함수는 여기에 3을 곱해 주어야 합니다.
y= lambda x : 3*x
y= lambda x : 3*x
y(12)
y(20)

60

In [11]:
add = lambda a,b : a+b
add(5,7)
adda= lambda c,d : c+d*10
adda(3,4)

43

- lambda함수를 이용하여 부가세를 계산하는 함수를 만들어보자

In [ ]:
won=10000
tax = lambda won : won *(1/11)
print("%d에 대한 부가세는 %d원 입니다" %(won,round(tax(won))))

In [12]:
little='여섯살 적에 나는 체험한 이야기라는 제목의 원시림에 관한 책에서 기막힌 그림 하나를 본적이 있다.맹수를 집어 삼키고 있는 보아뱀 그림이다.위의그림은 그것을 그린 것이다. 그책에는 이렇게 씌여 있다'
little[:10]

'여섯살 적에 나는 '

* lambda함수를 이용하여 특정 변수에 대입되어 있는 문장의 글자수를 일정하게 표시하게 할 수도 있다

In [13]:
little[:10]

'여섯살 적에 나는 '

In [15]:
short = lambda x : x[:10]
s= lambda x : x[:20]
s(little)

'여섯살 적에 나는 체험한 이야기라는 '

In [ ]:
short(little)

In [16]:
long='''오래전에 보았던 환율 계산기도 쉽게 만들 수 있다'''

In [18]:
short(long)
s(long)

'오래전에 보았던 환율 계산기도 쉽게 '

전문 개발자들은 협업이 필 수 이기 때문에 lambda를 선호하지 않는 경향이 있으나, 간단한 함수를 이리저리 만들어
보는 경험은 그 자체로 재미가 있다.

> lamda로 환율 계산기 만들기

- 1달러에 1,300원이라고 하면

In [19]:
won= 1/1300
won

0.0007692307692307692

In [28]:
round(1/1300,5)

0.00077

- 1원이 0.00077달러가 된다.
- lambda함수식을 세우면

In [37]:
# exchange = lambda x : x * 0.00077 
exchange = lambda x : x * 0.00077

exchange(1000000000)

770000.0

- 백만원을 환전하게 되면

In [46]:
exchange_m=int(input("얼마를 달러로 환전해 드리까요?"))
# exchange(1000000)
print(exchange_m,"원을 달러로 교환하면",round(exchange(exchange_m),1),"달러")

1000 원을 달러로 교환하면 0.8 달러

> def문으로 함수만들기
- def 함수 이름(매개변수):  
   수행할 문장1  
    수행할 문장2  
   ...

In [47]:
def add(a,b):
    return a+b

add(3,4)

7

In [ ]:
def add(a,b):
    return a+b

add(2,3)

In [48]:
def cal(a,b):
    return a+b, a-b, a*b, a/b

cal(10,5)
#결과값의 자료형은 튜플입니다.

(15, 5, 50, 2.0)

In [51]:
type(cal(10,5))

tuple

> input함수로 사용자에게 입력값 받기

In [54]:
a = input("숫자를 하나 입력해 보세요")
#input함수는 사용자가 입력한 값을 문자(str)로 저장합니다.

In [ ]:
a

In [55]:
type(a)

str

In [56]:
# 정수로 변환할때는 int()함수
a=int(a)
type(a)

int

In [57]:
#실수로 변환할때는 float()함수
a=float(a)
type(a)

float

In [58]:
c=17/7

In [59]:
c

2.4285714285714284

In [60]:
type(c)

float

In [62]:
c=round(c,1)

In [63]:
c

2.4

In [ ]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i % 2 != 0:
        print("홀수")
    else:
        print("짝수")

> 서비스 가격 출력 프로그램 완성하기
- 서비스의 종류는 3가지가 있습니다. a서비스는 23, b서비스는 40, c서비스는 67만원입니다.  이 금액은 부가세가 포함되어 있지 않습니다.
서비스의 종류와 부가세 여부를 확인하여 선택하면 거기에 맞는 가격을 출력하는 프로그램을 만들겠습니다.

In [78]:
price=[23,40,67]

def service_price():

    service = input("a/b/c서비스를 선택하세요.")

    vat_servics = input("부가세를 포함하시겠습니까? y/n")

    if service == "a" :
        if vat_servics =="y":
            print(round(price[0]*1.1,1),"만원 ")
        else:
            print(round(price[0]),"만원 ")
    if service == "b" :
        if vat_servics =="y":
            print("귀하는 b서비스를 선택하였습니다. vat를 포함한 서비스 총가격은",round(price[1]*1.1,1),"만원 입니다.")
        else:
            print("귀하는 b서비스를 선택하였습니다. vat를 포함한 제외한 서비스가격은",round(price[1]),"만원 입니다.")
    if service == "c" :
        if vat_servics =="y":
            print("귀하는 c서비스를 선택하였습니다. vat를 포함한 서비스 총가격은",round(price[2]*1.1,1),"만원 입니다.")
        else:
            print("귀하는 c서비스를 선택하였습니다. vat를 포함한 제외한 서비스가격은",round(price[2]),"만원 입니다.")

In [79]:
service_price()

귀하는 b서비스를 선택하였습니다. vat를 포함한 제외한 서비스가격은 40 만원 입니다.

In [ ]:
price=[23,40,67]

In [76]:
def service_price():
    service=input("서비스의 종류를 입력하세요, a/b/c")
    valueadd=input("부가세를 포함합니까? y/n")
    if valueadd =="y":
        if service =="a":
            result = 23*1.1
        if service =="b":
            result = 40*1.1
        if service =="c":
            result = 67*1.1
    if valueadd =="n":
        if service =="a":
            result = 23
        if service =="b":
            result = 40
        if service =="c":
            result = 67
    print(round(result,1),"만 원입니다")


service_price()

25.3 만 원입니다

In [1]:
#

## 연습문제

In [80]:
# 다음식의 결과값은?
14%4
# 나머지를 구하는 공식이므로 2

2

In [81]:
# 2.다음함수의 결과값은 어떻게 출력될까요>
round(1.12345,2)
# 1.12

1.12

In [82]:
#3. input에서는 기본적으로 문자형으로 입력을 받습니다.
a=int(input('나이를입력하세요'))
40-a

-10

In [5]:
#4번
plus= lambda x,y : x+y
plus(34,54)

88

In [6]:
#5
def mean(a,b):
    print((a+b)/2)
    
mean(33,22)

27.5

In [7]:
type(mean)

function

In [8]:
type(a)

int

In [9]:
45

45

In [10]:
type(45)

int

In [11]:
mean(33,22)+45

27.5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [12]:
hap=mean(33,22)

27.5

In [13]:
45+hap

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [83]:
type(hap)

NameError: name 'hap' is not defined

In [84]:
def mean(a,b):
    return (a+b)/2

mean(33,22)

27.5

In [86]:
type(mean)

function

In [85]:
45+mean(33,22)

72.5

In [ ]:
#6
b=[1,2,3,10,"11",12]
for i in b:
    if i <10:
        print(i)
    else:
        print(i[-1])

In [ ]:
sdfdsdfsfdss