#### 평균나이구하기
> round함수
- 함수의 괄호안 첫 번째 변수에는 수식을 넣고, 두번째 변수에는 표시할 소수점 자릿수를 넣습니다.

In [ ]:
round((50+45+33+39+29+30)/6,1)

### 19단 곱셈표 출력하기

> 2단곱셈표 작성

In [ ]:
for i in range(1,10):
    print("2 *",i,"=",2*i)

> for문을 추가 하여 19단 완성시킨다
- 변수 i, j 두개 사용

In [ ]:
for i in range(2,20):
    print("")
    print("[%d 단]" %(i))
    for j in range(1,10):
        print("%d * %d = %d" %(i,j,i*j))

- %d를 사용하여 숫자 i와 j 그리고 i*j를 표시할 수 있도록 했습니다.

### 부가세 출력 프로그램 만들기

> 오늘 먹은 점심값의 부가세는 얼마였을까
- 점심값 : 8,000원

- 공급가액 + (공급가액*10%)= 점심값 8,000
- 점심값 8,000원 = 공급가액 * 1.1
- 공급가액 = 8,000/1.1

In [ ]:
8000/1.1

In [ ]:
round(8000/1.1)

In [ ]:
8000-7273

In [ ]:
round(8000*(1/11))

>> lambda로 간단하게 함수 만들기

In [ ]:
y= lambda x : 3*x
y(12)

In [ ]:
add = lambda a,b : a+b
add(5,7)

- lambda함수를 이용하여 부가세를 계산하는 함수를 만들어보자

In [ ]:
won=10000
tax = lambda won : won *(1/11)
print("%d에 대한 부가세는 %d원 입니다" %(won,round(tax(won))))

In [ ]:
little='''여섯살 적에 나는 체험한 이야기라는 제목의 원시림에 관한 책에서 기막힌 그림 하나를 본적이 있다'''
little[:10]

* lambda함수를 이용하여 특정 변수에 대입되어 있는 문장의 글자수를 일정하게 표시하게 할 수도 있다

In [ ]:
little[:10]

In [ ]:
short = lambda x : x[:10]

In [ ]:
short(little)

In [ ]:
long='''오래전에 보았던 환율 계산기도 쉽게 만들 수 있다'''

In [ ]:
short(long)

전문 개발자들은 협업이 필 수 이기 때문에 lambda를 선호하지 않는 경향이 있으나, 간단한 함수를 이리저리 만들어
보는 경험은 그 자체로 재미가 있다.

> 환율 계산기 만들기

- 1달러에 1,300원이라고 하면

In [ ]:
won= 1/1300
won

In [ ]:
round(1/1300,5)

- 1원이 0.00077달러가 된다.
- lambda함수식을 세우면

In [ ]:
exchange = lambda x : x * 0.00077

- 백만원을 환전하게 되면

In [ ]:
exchange(1000000)

> def문으로 함수만들기
- dwf 함수 이름(매개변수):  
   수행할 문장1  
    수행할 문장2  
   ...

In [ ]:
def add(a,b):
    return a+b

add(2,3)

In [ ]:
def cal(a,b):
    return a+b, a-b, a*b, a/b

cal(10,5)

> input함수로 사용자에게 입력값 받기

In [ ]:
a = input("숫자를 하나 입력해 보세요")

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a=int(a)
type(a)

In [ ]:
a=float(a)
type(a)

In [ ]:
c=17/7

In [ ]:
c

In [ ]:
type(c)

In [ ]:
c=round(c,1)

In [ ]:
c

In [ ]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i % 2 != 0:
        print("홀수")
    else:
        print("짝수")

> 서비스 가격 출력 프로그램 완성하기
- 서비스의 종류는 3가지가 있습니다. a서비스는 23, b서비스는 40, c서비스는 67만원입니다.  
서비스의 종류와 부가세 여부를 확인하여 선택하면 거기에 맞는 가격을 출력하는 프로그램을 만들겠습니다.

In [ ]:
price=[23,40,67]

In [ ]:
def service_price():
    service=input("서비스의 종류를 입력하세요, a/b/c")
    valueadd=input("부가세를 포함합니까? y/n")
    if valueadd =="y":
        if service =="a":
            result = 23*1.1
        if service =="b":
            result = 40*1.1
        if service =="c":
            result = 67*1.1
    if valueadd =="n":
        if service =="a":
            result = 23
        if service =="b":
            result = 40
        if service =="c":
            result = 67
    print(round(result,1),"만 원입니다")


service_price()

In [1]:
#

## 연습문제

In [2]:
# 다음식의 결과값은?
14%4
# 나머지를 구하는 공식이므로 2

2

In [3]:
# 2.다음함수의 결과값은 어떻게 출력될까요>
round(1.12345,2)
# 1.12

1.12

In [4]:
#3. input에서는 기본적으로 문자형으로 입력을 받습니다.
a=int(input('나이를입력하세요'))
40-a

-18

In [5]:
#4번
plus= lambda x,y : x+y
plus(34,54)

88

In [6]:
#5
def mean(a,b):
    print((a+b)/2)
    
mean(33,22)

27.5

In [7]:
type(mean)

function

In [8]:
type(a)

int

In [9]:
45

45

In [10]:
type(45)

int

In [11]:
mean(33,22)+45

27.5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [12]:
hap=mean(33,22)

27.5

In [13]:
45+hap

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [14]:
type(hap)

NoneType

In [15]:
def mean(a,b):
    return (a+b)/2

mean(33,22)

27.5

In [16]:
45+mean(33,22)

72.5

In [23]:
#6
b=[1,2,3,10,"11",12]
for i in b:
    if i <10:
        print(i)
    else:
        print(i[-1])

1
2
3

TypeError: 'int' object is not subscriptable