### CSV파일로 데이터 다루기
> 파이썬을 사용하는 이유 중 하나가 데이터를 잘 다루기 위해서 입니다.
> 대량의 데이터를 다양한 조건식으로 가공하거나 통계적으로 분석해야 할 때 바로 파이선이 진가를 발휘합니다.

> CSV 데이타 알아보기
 - 쉼표로 나눠진 값을 저장한 데이터를 의미합니다.
 - 파이썬으로 불러와서 복잡한 연산을 수행 할 수있다.

In [2]:
#CSV파일 만들고 읽기
#csv모듈을사용-자료를 csv모듈에서 인식할 수 있는 형태로 바꿔줘야 한다.
#CSV는 데이터형식 또는 파일명이고  소문자 csv는 파이썬에서 작동하는 모듈을 의미한다.
#파이썬에서 사용하려면 자료형태를 바꾸어 줘야 한다.
#CSV형 기본자료는  CSV형 리스트 = [[1행,[2행]...[n행]]-- 리스트안에 리스트가 들어가 있는 형태다.
#CSV에서  파이썬으로 불러오는 것을 읽다(write)라고 하고, 파이썬으로 가공한 파일을  CSV형으로 저장하는 것을 쓰다 write라고 표현한다.

In [3]:
#CSV파일 읽기
import csv, os
f = open('aaa.csv','r')

#CSV파일을 저장한 객체를 파이썬에서 읽으려면 csv.reader를 사용한다.

new = csv.reader(f) #객체 f를 csv.reader로 읽어 new라는 객체에 저장합니다.

new
for i in new:
    print(i)

['국어', '영어', '수학']
['90', '80', '100']

In [4]:
# 이제 aaa.csv 파일의 내용을 파이썬에서 사용할 수 있도록 CSV형 리스트로 바꿔보겠습니다.
aaa_list = []
for i in new:
    print(i)
    aaa_list.append(i)

aaa_list

[]

In [5]:
#[] 텅 비었네요. 커서가 맨 마지막으로 이동했으므로 파일을 다시 처음부터 읽기 위해서는 seek()함수를 사용해야 합니다.
f.seek(0)
for i in new:
    print(i)
    aaa_list.append(i)
aaa_list

['국어', '영어', '수학']
['90', '80', '100']

[['국어', '영어', '수학'], ['90', '80', '100']]

> CSV파일을 불러올때 활용할 함수를 만들어 사용하며 이 함수명을 opencsv라고 해서 저장한다.

In [6]:
def opencsv(filename):
    f = open(filename,'r')
    reader = csv.reader(f)
    out = []
    for i in reader:
        out.append(i)
    return out

In [7]:
a=opencsv('a.csv')
print(a)

[['a'], ['a'], ['a'], ['a']]

In [8]:
# CSV파일 쓰기
f= open('abcd.csv','w',newline='')
#newline=''를 넣어주어야 줄바꿈이 한번더 일어나지 않는다.

#csv.writer은 CSV형 리스트를 파일에 쓸 수 있게 만들어 줍니다.
#csv.writer()에 객체 f를 입력한 값을 csvobject객체에 저장합니다. 이때 delimeter=','로 저장합니다.

csvobject=csv.writer(f, delimiter=',')

#CSV형 리스트가 저장된 객체를 파일에 쓸 때는 writerows()를 사용합니다.

csvobject.writerows(a)
f.close()

In [9]:
a

[['a'], ['a'], ['a'], ['a']]

> 파일을 읽을 때와 마찬가지로 파일을 쓸때도 함수를 만든다. 함수명은 writecsv()로 정의 한다.

In [10]:
def writecsv(filename,the_list): #두번째 변수는 CSV형 리스트를 저장한 객체다.
    with open(filename,'w',newline='') as f:  #파일을 바로 닫기 위해서 with문을 사용했다.
        a=csv.writer(f,delimiter=',')
        a.writerows(the_list)

writecsv('abcd.txt','a')

> 나만의 모듈을 만들어 사용하기

In [11]:
#opencsv()함수와 wtitecsv()함수를 묶어서 usecsv라는 별도의 모듈을 만들어 사용한다.

In [12]:
import usecsv
b= [['국어','영어','수학'],[99,88,77]]
usecsv.writecsv('testb.csv',b)

In [13]:
import csv, os
os.chdir(r'C:\Users\고창섭\Desktop\python\생활프로그래밍')
f = open('a.csv','r')

new=csv.reader(f)
new

for i in new:
    print(i)
    
a_list = []
for i in new:
    print(i)
    a_list.append(i)
    
a_list

f.seek(0)

for i in new:
    print(i)
    a_list.append(i)
    
a_list

['a']
['a']
['a']
['a']
['a']
['a']
['a']
['a']

[['a'], ['a'], ['a'], ['a']]

In [14]:
# 함수로 만들어 놓기 함수명:opencsv'
def opencsv(filename):
    f = open(filename,'r')
    reader = csv.reader(f)
    output=[]
    for i in reader:
        output.append(i)
    return output
    f.close()

opencsv('a.csv')

[['a'], ['a'], ['a'], ['a']]

> CSV 파일쓰기

In [15]:
def opencsv(filename):
    f = open(filename,'r')
    reader = csv.reader(f)
    output=[]
    for i in reader:
        output.append(i)
    return output
    f.close()


opencsv('a.csv')

[['a'], ['a'], ['a'], ['a']]

In [16]:
a=[['구', '전체', '내국인', '외국인'],
 ['관악구', '519864', '502089', '17775'],
 ['강남구', '549702', '542498', '5104'],
 ['송파구', '686181', '679247', '6934'],
 ['강동구', '428547', '4325', '4312']]
f =open('abc.csv', 'w',newline='')
csvobject = csv.writer(f,delimiter=',')
csvobject.writerows(a)
f.close()

In [17]:
def writecsv(filename, the_list):
    with open(filename,'w',newline='')as f:
        a=csv.writer(f,delimiter='')
        a.writerows(the_list)

> 나만의 모듈을 만들어 사용하기

In [18]:
import os, re
import usecsv

apt = usecsv.switch(usecsv.opencsv('apt202312.csv'))
len(apt)

27462

> CSV파일 안의 문자를 숫자로 전환하기
- 앞에서 만든usecsv.py모듈은 모든 자료를 문자형으로 불러온다. 이러한 단점은 코드 몇줄로 보완할 수 있다.

In [19]:
# CSV파일 불러와서 형식 확인하기
import os,re
import usecsv
total = usecsv.opencsv('PopSeoul2023.csv')
for i in total:
    print(i)


#숫자도 따옴표로 감싸져있다..즉 문자형태이고 세자릿수마다 쉼표도 있다. 이것도 제거해야한다.

['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  ']
['종로구', '152,212', '141,060', '11,152', '28,265']
['중구', '131,390', '120,963', '10,427', '25,353']
['용산구', '232,482', '217,756', '14,726', '39,478']
['성동구', '287,240', '280,240', '7,000', '48,238']
['광진구', '350,925', '336,801', '14,124', '54,854']
['동대문구', '354,884', '337,574', '17,310', '65,154']
['중랑구', '389,928', '385,003', '4,925', '76,116']
['성북구', '441,855', '430,100', '11,755', '78,427']
['강북구', '296,934', '292,762', '4,172', '67,056']
['도봉구', '312,858', '310,509', '2,349', '68,114']
['노원구', '506,989', '502,515', '4,474', '93,279']
['은평구', '468,766', '464,871', '3,895', '90,556']
['서대문구', '321,966', '308,437', '13,529', '56,785']
['마포구', '376,542', '365,570', '10,972', '56,582']
['양천구', '442,345', '439,219', '3,126', '73,522']
['강서구', '573,711', '568,287', '5,424', '98,659']
['구로구', '417,983', '395,183', '22,800', '77,259']
['금천구', '242,467', '229,307', '13,160', '43,772']
['영등포구', '398,999', '376,614', '22,385', '66,014']
['동작구', '390,377', '380,201', '10,176', '68,766']
['관악구', '502,628', '487,815', '14,813', '83,420']
['서초구', '408,979', '404,831', '4,148', '63,328']
['강남구', '537,817', '532,798', '5,019', '83,097']
['송파구', '663,704', '658,006', '5,698', '105,161']
['강동구', '464,027', '459,982', '4,045', '79,706']

In [20]:
# 문자형 자료를 숫자형으로 바꾸기
# 문자형으로 만들어진자료를 숫자령으로 바꾸려면 정수형(int)와 ㅅ실수형(float)를 사용한다.
i = '123'
float(i)
int(i)
#실수형으로 바꾸려 하는데 '1,468,234'처럼  쉼표로 인해 숫자형으로 직접 바꿀 수가 없다. 쉼표를 제거해보자
j='1,486,146'
float(re.sub(',','',j)) # ㅋ 여기서 기가막히게 re.sub를 사용하네
type(float(re.sub(',','',j)))

float

In [21]:
#숫자 원소만 골라서(,) 를 제거하기
import re
i = total[1]
i
k=[]
for j in i:
    if re.search(r'\d',j): #j에 숫자가 들어가 있다면
        k.append(float(re.sub(',','',j)))
    else:
        k.append(j)


k

['종로구', 152212.0, 141060.0, 11152.0, 28265.0]

In [22]:
# 문자와 숫자가 섞인 원소 골라내기
p = ['123강남','151,267','214,135','54,395']
k= []
for j in p:
    if re.search(r'[a-z가-힣]',j):
        k.append(j)
    else:
        k.append(float(re.sub(',','',j)))
k

['123강남', 151267.0, 214135.0, 54395.0]

In [23]:
#특수문자와 숫자가 섞인 원소 골라내기
i=['123!!','154,297','23,145','15,241']
k=[]
for j in i:
    if re.search(r'[a-z가-힣!]',j):
        k.append(j)
    else:
        k.append(float(re.sub(',','',j)))

k

['123!!', 154297.0, 23145.0, 15241.0]

>

> 예외처리로 넘어가기

In [24]:
# 문자형을 숫자형으로 바꿀때 조건식이 완벽하지는않다 . 그 이유는 조건문을 피하는 경우의 수가 여전히 많다.
# 이처럼 오류로 고민할 때 바로 필요한 것이 예외처리입니다. 예외처리를 할 때는 try문과 except문을 사용합니다.
# 원리는 간단합니다. 어떤 명령을 실행해 보고  실행이 안되면 예외 처리 규정을 실행하라는 명령어 입니다.
# 지금까지의 경우에서 float()함수가 작동하지 않으면 예외처리하라고 하면 간단하게 해결할 수 있다.
i=['123!!','154,297','23,145','15,241']
for j in i:
    try:
        i[i.index(j)] = float(re.sub(r',','',j))
    except:
        pass

# 파이썬으로 수천 줄의 데이터를 분석할 대 오류가 발생할 때마다 프로그램이 멈추면 어떻게 해야 하나요? 하지만 우리는 오류가 발생하면
    #무시하고 그냥 넘어가라는 예외 처리 규정을 만들어 처리하지 못한 데이터는 놔두고, 나머지 데이터만 가지고 할일을 하면 된다.

In [25]:
# 예외 처리로 숫자만 골라서 숫자형으로 바꾸기
total

i= total[1]
for j in i:
    try:
        i[i.index(j)] = float(re.sub(r',','',j))
    except:
        pass

i

['종로구', 152212.0, 141060.0, 11152.0, 28265.0]

In [26]:
#이제 모든 데이터를 숫자형으로 바꾸어 봅시다.
for i in total:
    for j in i:
        try:
            i[i.index(j)] = float(re.sub(r',','',j))
        except:
            pass

total

[['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  '],
 ['종로구', 152212.0, 141060.0, 11152.0, 28265.0],
 ['중구', 131390.0, 120963.0, 10427.0, 25353.0],
 ['용산구', 232482.0, 217756.0, 14726.0, 39478.0],
 ['성동구', 287240.0, 280240.0, 7000.0, 48238.0],
 ['광진구', 350925.0, 336801.0, 14124.0, 54854.0],
 ['동대문구', 354884.0, 337574.0, 17310.0, 65154.0],
 ['중랑구', 389928.0, 385003.0, 4925.0, 76116.0],
 ['성북구', 441855.0, 430100.0, 11755.0, 78427.0],
 ['강북구', 296934.0, 292762.0, 4172.0, 67056.0],
 ['도봉구', 312858.0, 310509.0, 2349.0, 68114.0],
 ['노원구', 506989.0, 502515.0, 4474.0, 93279.0],
 ['은평구', 468766.0, 464871.0, 3895.0, 90556.0],
 ['서대문구', 321966.0, 308437.0, 13529.0, 56785.0],
 ['마포구', 376542.0, 365570.0, 10972.0, 56582.0],
 ['양천구', 442345.0, 439219.0, 3126.0, 73522.0],
 ['강서구', 573711.0, 568287.0, 5424.0, 98659.0],
 ['구로구', 417983.0, 395183.0, 22800.0, 77259.0],
 ['금천구', 242467.0, 229307.0, 13160.0, 43772.0],
 ['영등포구', 398999.0, 376614.0, 22385.0, 66014.0],
 ['동작구', 390377.0, 380201.0, 10176.0, 68766.0],
 ['관악구', 502628.0, 487815.0, 14813.0, 83420.0],
 ['서초구', 408979.0, 404831.0, 4148.0, 63328.0],
 ['강남구', 537817.0, 532798.0, 5019.0, 83097.0],
 ['송파구', 663704.0, 658006.0, 5698.0, 105161.0],
 ['강동구', 464027.0, 459982.0, 4045.0, 79706.0]]

In [27]:
#이렇게 예외처리를 적용하여 문자형을 숫자형(실수)로 변환시키는 함수를 만들어 usecsv에 추가한다. 함수명은 switch()
def switch(listName):
    for i in listName:
        for j in i:
            try:
                i[i.index(j)] = float(re.sub(',','',j))
            except:
                pass
    return listName

In [28]:
switch(total)

[['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  '],
 ['종로구', 152212.0, 141060.0, 11152.0, 28265.0],
 ['중구', 131390.0, 120963.0, 10427.0, 25353.0],
 ['용산구', 232482.0, 217756.0, 14726.0, 39478.0],
 ['성동구', 287240.0, 280240.0, 7000.0, 48238.0],
 ['광진구', 350925.0, 336801.0, 14124.0, 54854.0],
 ['동대문구', 354884.0, 337574.0, 17310.0, 65154.0],
 ['중랑구', 389928.0, 385003.0, 4925.0, 76116.0],
 ['성북구', 441855.0, 430100.0, 11755.0, 78427.0],
 ['강북구', 296934.0, 292762.0, 4172.0, 67056.0],
 ['도봉구', 312858.0, 310509.0, 2349.0, 68114.0],
 ['노원구', 506989.0, 502515.0, 4474.0, 93279.0],
 ['은평구', 468766.0, 464871.0, 3895.0, 90556.0],
 ['서대문구', 321966.0, 308437.0, 13529.0, 56785.0],
 ['마포구', 376542.0, 365570.0, 10972.0, 56582.0],
 ['양천구', 442345.0, 439219.0, 3126.0, 73522.0],
 ['강서구', 573711.0, 568287.0, 5424.0, 98659.0],
 ['구로구', 417983.0, 395183.0, 22800.0, 77259.0],
 ['금천구', 242467.0, 229307.0, 13160.0, 43772.0],
 ['영등포구', 398999.0, 376614.0, 22385.0, 66014.0],
 ['동작구', 390377.0, 380201.0, 10176.0, 68766.0],
 ['관악구', 502628.0, 487815.0, 14813.0, 83420.0],
 ['서초구', 408979.0, 404831.0, 4148.0, 63328.0],
 ['강남구', 537817.0, 532798.0, 5019.0, 83097.0],
 ['송파구', 663704.0, 658006.0, 5698.0, 105161.0],
 ['강동구', 464027.0, 459982.0, 4045.0, 79706.0]]

In [29]:
seo=opencsv('popSeoul.csv')

seo

[['Gu', 'Korean', 'Foreigner', 'Senior'],
 ['Jongrogu', '151,767', '11,093', '27,394'],
 ['Jongru', '126,409', '10,254', '23,025'],
 ['Yongsangu', '228,830', '16,159', '38,531'],
 ['Seongdonggu', '303,158', '8,132', '43,662'],
 ['Kwangjingu', '352,692', '15,645', '47,347'],
 ['Dongdaemoongu', '346,551', '17,228', '58,764'],
 ['Jungranggu', '398,812', '4,964', '64,449'],
 ['Seongbukgu', '441,590', '12,524', '70,204'],
 ['Gangbukgu', '314,090', '3,785', '59,808'],
 ['Dobonggu', '335,280', '2,314', '58,070'],
 ['Nowonggu', '535,282', '4,547', '79,968'],
 ['Eunpyonggu', '481,663', '4,496', '79,957'],
 ['Seodaemungu', '310,069', '14,020', '51,708'],
 ['Mapogu', '373,629', '11,976', '51,961'],
 ['Yangcheongu', '459,849', '4,082', '60,487'],
 ['Gangseogu', '593,708', '6,532', '82,937'],
 ['Gurogu', '406,748', '33,102', '64,952'],
 ['Guemcheongu', '233,371', '19,497', '37,191'],
 ['Youngdeungpogu', '368,402', '34,076', '57,350'],
 ['Dongjakgu', '397,618', '12,869', '61,607'],
 ['Kwanakgu', '502,117', '17,836', '74,518'],
 ['Seoucheogu', '431,027', '4,231', '56,455'],
 ['Gangnamgu', '544,028', '5,015', '70,029'],
 ['Songpagu', '677,489', '6,849', '86,062'],
 ['Gangdonggu', '426,219', '4,303', '61,710']]

In [30]:
c=switch(seo)
c

[['Gu', 'Korean', 'Foreigner', 'Senior'],
 ['Jongrogu', 151767.0, 11093.0, 27394.0],
 ['Jongru', 126409.0, 10254.0, 23025.0],
 ['Yongsangu', 228830.0, 16159.0, 38531.0],
 ['Seongdonggu', 303158.0, 8132.0, 43662.0],
 ['Kwangjingu', 352692.0, 15645.0, 47347.0],
 ['Dongdaemoongu', 346551.0, 17228.0, 58764.0],
 ['Jungranggu', 398812.0, 4964.0, 64449.0],
 ['Seongbukgu', 441590.0, 12524.0, 70204.0],
 ['Gangbukgu', 314090.0, 3785.0, 59808.0],
 ['Dobonggu', 335280.0, 2314.0, 58070.0],
 ['Nowonggu', 535282.0, 4547.0, 79968.0],
 ['Eunpyonggu', 481663.0, 4496.0, 79957.0],
 ['Seodaemungu', 310069.0, 14020.0, 51708.0],
 ['Mapogu', 373629.0, 11976.0, 51961.0],
 ['Yangcheongu', 459849.0, 4082.0, 60487.0],
 ['Gangseogu', 593708.0, 6532.0, 82937.0],
 ['Gurogu', 406748.0, 33102.0, 64952.0],
 ['Guemcheongu', 233371.0, 19497.0, 37191.0],
 ['Youngdeungpogu', 368402.0, 34076.0, 57350.0],
 ['Dongjakgu', 397618.0, 12869.0, 61607.0],
 ['Kwanakgu', 502117.0, 17836.0, 74518.0],
 ['Seoucheogu', 431027.0, 4231.0, 56455.0],
 ['Gangnamgu', 544028.0, 5015.0, 70029.0],
 ['Songpagu', 677489.0, 6849.0, 86062.0],
 ['Gangdonggu', 426219.0, 4303.0, 61710.0]]

In [31]:
sum=0
for i in c[:1]:
    for j in i[1]:
        print(j)

K
o
r
e
a
n

> 부동산 실거래가 살펴보기
- CSV파일을 다루는 것은 흥미진지하지만, 다른 한편으론 약간의 인내심이 필요하다.

In [58]:
# CSV형 리스트로 만들고 자료 가공하기
import os,re
import usecsv
apt= usecsv.switch(usecsv.opencsv('apt2312.csv'))

In [ ]:
apt[:3]

In [60]:
len(apt)
# 아파트 거래가 23년 12월 한달동안 22119번 있었음을 확인 할 수 있다.

22119

In [61]:
#슬라이싱으로 원하는 자료 출력하기
apt[0]

['시군구',
 '번지',
 '본번',
 '부번',
 '단지명',
 '전용면적(㎡)',
 '계약년월',
 '계약일',
 '거래금액(만원)',
 '층',
 '건축년도',
 '도로명',
 '해제사유발생일',
 '등기신청일자',
 '거래유형',
 '중개사소재지']

In [62]:
# 처음 5개 데이터에 시군구만 출력한다.
for i in apt[:5]:
    print(i[0])

시군구
강원특별자치도 강릉시 견소동
강원특별자치도 강릉시 교동
강원특별자치도 강릉시 교동
강원특별자치도 강릉시 교동

In [63]:
for i in apt[:6]:
    print(i[0],i[4],i[8])

시군구 단지명 거래금액(만원)
강원특별자치도 강릉시 견소동 송정해변신도브래뉴아파트 23300.0
강원특별자치도 강릉시 교동 강릉교동롯데캐슬2단지 46000.0
강원특별자치도 강릉시 교동 교동1주공 18500.0
강원특별자치도 강릉시 교동 교동1주공 29000.0
강원특별자치도 강릉시 교동 교동2현대 38000.0

In [69]:
for i in apt[:6]:
    print("{:<30} {:<25} {:<10}".format(i[0], i[4], i[8]))

시군구                            단지명                       거래금액(만원)
강원특별자치도 강릉시 견소동                송정해변신도브래뉴아파트              23300.0
강원특별자치도 강릉시 교동                 강릉교동롯데캐슬2단지               46000.0
강원특별자치도 강릉시 교동                 교동1주공                     18500.0
강원특별자치도 강릉시 교동                 교동1주공                     29000.0
강원특별자치도 강릉시 교동                 교동2현대                     38000.0

In [75]:
# 전라북도에 120m2이상 3억원 이하 거래 아파트 검색하기.
for i in apt:
    try:
        if i[5] > 120 and i[8] < 30000 and re.findall(r'전주',i[0]):
         print(i[0],i[4],i[8])
    except:
        pass

전라북도 전주완산구 삼천동1가 우성 20300.0
전라북도 전주완산구 중화산동2가 거성화산 12400.0
전라북도 전주완산구 중화산동2가 전주한신코아1차,2차 21800.0
전라북도 전주완산구 효자동1가 거성소라 19900.0
전라북도 전주완산구 효자동1가 유진청하맨션B 18450.0

In [ ]:
for i in apt:
    try:
        if i[5]>=120 and i[8]<=30000 and re.findall(r'전주',i[0]):
            print(i[0],i[4],i[8])
    except:
        pass

전라북도 전주덕진구 송천동1가 서호(1차) 23300.0
전라북도 전주덕진구 송천동1가 서호(1차) 23300.0
전라북도 전주덕진구 우아동3가 럭키우아 17100.0
전라북도 전주덕진구 인후동1가 삼호 16000.0
전라북도 전주덕진구 인후동1가 삼호 16700.0
전라북도 전주덕진구 인후동1가 인후송정써미트 27100.0
전라북도 전주덕진구 인후동1가 효성안골빌라 19500.0
전라북도 전주덕진구 진북동 우성 28700.0
전라북도 전주덕진구 진북동 우성 25000.0
전라북도 전주덕진구 진북동 우성 23000.0
전라북도 전주완산구 삼천동1가 광진궁전맨션 23400.0
전라북도 전주완산구 중화산동1가 중화산동신일 14000.0
전라북도 전주완산구 평화동1가 코오롱 27500.0

In [76]:
new_list=[]
for i in apt:
    try:
        if i[5]>=120 and i[8]<=30000 and re.findall(r'전주',i[0]):
            print(i[0],i[4],i[8])
            new_list.append([i[0],i[4],i[8]])
    except:
        pass

usecsv.writecsv('ov120_low3000.csv',new_list)

전라북도 전주완산구 삼천동1가 우성 20300.0
전라북도 전주완산구 중화산동2가 거성화산 12400.0
전라북도 전주완산구 중화산동2가 전주한신코아1차,2차 21800.0
전라북도 전주완산구 효자동1가 거성소라 19900.0
전라북도 전주완산구 효자동1가 유진청하맨션B 18450.0

>  번역한 예문을  표로 저장하기

In [84]:
# 프로그램 작성하고 저장하기

import re, usecsv, os
English="She is a vegeterian. She does not eat meat. She thinks that animals should not be killed. It is hard for her to hang out with people"

Korean="그녀는 채식주의자입니다. 고기를 먹지 않습니다. 동물을 죽여서는 안 된다고 생각합니다. 사람들과 어울리는 것이 어렵습니다"
English_list = re.split(r'\.',English)

Korean_list = re.split(r'\.',Korean)

print(Korean_list)
total=[]
for i in range(len(English_list)):
    total.append([English_list[i],Korean_list[i]])
total
# for i in range(len(English_list)):
#     total.append([English_list[i],Korean_list[i]])

usecsv.writecsv('Eng_Kor.csv',total)
    
# usecsv.writecsv('Korean_English.csv',total)

['그녀는 채식주의자입니다', ' 고기를 먹지 않습니다', ' 동물을 죽여서는 안 된다고 생각합니다', ' 사람들과 어울리는 것이 어렵습니다']

> 연습문제

In [4]:
import os
os.chdir(r'C:\Users\고창섭\Desktop\python')

In [ ]:
a=[['컴퓨터','노트북','테블릿'],[100,80,60]]
#CSV형 리스트로 변화 시키려면 [[]]

In [ ]:
# csv형 리스트로 활용하려고 total의 원소 중 문자형으로 저장된 숫자를 정수형으로 바꾸려고 합니다.
total = ['종로구','151,767','11,093','27,394']
for i in total:
    if re.search(',',i):
        total[total.index(i)]=int(re.sub(',','',i))
total

['종로구', 151767, 11093, 27394]

In [5]:
pop= [['종로구',151767],['광진구',350000]]
for i in pop:
    if i[1]  < 300000 :
        print(i[0])

종로구

##### CSV파일 데이터 분석하기
- 최소한 두개 이상의 반복문을 사용해야한다. 그래서 파이썬의 연산과정을 더 명확하게 이해할 수 있다.
- 파이썬 리스트기능을 사용할 수 있다. : 인덱스, 슬라이싱, 원소꺼내기

> 외국인 비중이 3%가 넘는 구 정보만 CSV파일로 저장하기

In [38]:
# CSV형 리스트로 바꾸기
import os, re, usecsv
total = usecsv.opencsv('popSeoul2023.csv')
newPop = usecsv.switch(total)
print(newPop[:5])

[['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  '], ['종로구', 152212.0, 141060.0, 11152.0, 28265.0], ['중구', 131390.0, 120963.0, 10427.0, 25353.0], ['용산구', 232482.0, 217756.0, 14726.0, 39478.0], ['성동구', 287240.0, 280240.0, 7000.0, 48238.0]]

In [40]:
# 등록외국인 비율을 계산해 보자
i = newPop[1]
i

['종로구', 152212.0, 141060.0, 11152.0, 28265.0]

In [42]:
#전체 인구 대비 외국인 비율을 구한다.
round((i[3]/i[1])*100,1)

7.3

In [43]:
# 각 구의 외국인 비율을 구해보자
for i in newPop:
    foreign=0  #한번 반복하고 나서 다시 지정해야 한다
    try:
        foreign = round((i[3]/i[1])*100,1)
        print(i[0],foreign)
    except:
        pass

종로구 7.3
중구 7.9
용산구 6.3
성동구 2.4
광진구 4.0
동대문구 4.9
중랑구 1.3
성북구 2.7
강북구 1.4
도봉구 0.8
노원구 0.9
은평구 0.8
서대문구 4.2
마포구 2.9
양천구 0.7
강서구 0.9
구로구 5.5
금천구 5.4
영등포구 5.6
동작구 2.6
관악구 2.9
서초구 1.0
강남구 0.9
송파구 0.9
강동구 0.9

In [48]:
# 첫행 지정하기
new = [['구','한국인','외국인','외국인비율(%)']]
# 첫행을 지정 했으니 다음행 부터는 계산한 값을 넣어주기만 하면 된다. 리스트에서 원소를 하나씩 추가 하는 명령어는 append()입니ㅏㄷ.
i
#i에는 newPop두번째 리스트가 저장되어 있습니다.
new.append([i[0],i[1],i[2],foreign])
new

[['구', '한국인', '외국인', '외국인비육(%)'], ['강동구', 464027.0, 459982.0, 0.9]]

In [50]:
# 외국인 비율이 3%초과할 때 만 출력해 보기
import re
for i in newPop:
    foreign = 0
    try:
        foreign = round((i[3]/i[1])*100,1)
        if foreign > 3:
            print([i[0],i[1],i[2],foreign])
    except:
        pass

['종로구', 152212.0, 141060.0, 7.3]
['중구', 131390.0, 120963.0, 7.9]
['용산구', 232482.0, 217756.0, 6.3]
['광진구', 350925.0, 336801.0, 4.0]
['동대문구', 354884.0, 337574.0, 4.9]
['서대문구', 321966.0, 308437.0, 4.2]
['구로구', 417983.0, 395183.0, 5.5]
['금천구', 242467.0, 229307.0, 5.4]
['영등포구', 398999.0, 376614.0, 5.6]

In [52]:
new = [['구','한국인','외국인','외국인비율(%)']]
for i in newPop:
    foreign = 0
    try:
        foreign = round((i[3]/i[1])*100,1)
        if foreign > 3:
            new.append([i[0],i[1],i[2],foreign])
    except:
        pass
new

[['구', '한국인', '외국인', '외국인비율(%)'],
 ['종로구', 152212.0, 141060.0, 7.3],
 ['중구', 131390.0, 120963.0, 7.9],
 ['용산구', 232482.0, 217756.0, 6.3],
 ['광진구', 350925.0, 336801.0, 4.0],
 ['동대문구', 354884.0, 337574.0, 4.9],
 ['서대문구', 321966.0, 308437.0, 4.2],
 ['구로구', 417983.0, 395183.0, 5.5],
 ['금천구', 242467.0, 229307.0, 5.4],
 ['영등포구', 398999.0, 376614.0, 5.6]]

In [57]:
#newPop.csv파일로 저장하기
usecsv.writecsv('newPop.csv',new)